App:
  Title: "Ardan 示例"
  Copyright: "teamlint.com"
  Debug: true
  # TimeFormat: "2006-01-02 15:04:05"
  # Charset: "UTF-8"
  Settings:
    SyncDB: false


Server:
  HttpAddr: ":1234"
  ReadTimeout: ""
  WriteTimeout: ""
  IdleTimeout: ""

Databases:
  Ardan:
    DriverName: "postgres"
    ConnString: "postgresql://postgres:123456@localhost:5432/ardan?sslmode=disable"
    ConnMaxLifetime: "3m" # 3 minutes
    MaxOpenConns: 300
    MaxIdleConns: 10
    Log: true

JWT:
  Method: "HS256"
  Secret: "{{randomString 16}}"
  Exp: "168h"
